<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pdsd.project.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCJ_wrPGzhQQtkBbPdnQIA6DZmr7e5yxNo" />
        <!--
        	Vlad: AIzaSyCJ_wrPGzhQQtkBbPdnQIA6DZmr7e5yxNo
        	Eugen: AIzaSyBxzfN8uleeKANvAsbS2D2TFCzmnIK2onA 			Cipri: AIzaSyCnN1eOnS8IoJhD-le_W3iPueks4gAklbE
        -->

        <activity
            android:name="com.pdsd.project.main.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="location_info_page.LocationActivity"
            android:label="@string/title_activity_location" >
        </activity>
        <activity
            android:name="login.FirstActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pdsd.project.main.UserProfileActivity"
            android:label="@string/title_activity_user_profile" >
        </activity>
        <activity
            android:name="com.pdsd.project.main.ImageViewActivity"
            android:label="@string/title_activity_image_view" >
        </activity>
        <activity
            android:name="add_location.AddLocationActivity"
            android:label="@string/title_activity_add_location"
            android:parentActivityName="com.pdsd.project.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pdsd.project.main.MainActivity" />
        </activity>
        <activity
            android:name="add_location.MapSelectActivity"
            android:label="@string/title_activity_map_select" >
        </activity>      
        <activity
            android:name="add_location.MapViewActivity"
            android:label="@string/title_activity_map_view" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
